   @font-face {
        font-family: "Starborn";
        src: url(font/Starborn.ttf);
    }
    @font-face {
        font-family: "Neonclub";
        src: url(font/neonClub.otf);
    }
  /* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600&family=Quicksand:wght@500&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Onest:wght@200&family=Pixelify+Sans:wght@400;500;600&fa                                                                                                                                 mily=Quicksand:wght@500&display=swap');
html{
    font-size: 16px;
}
body {
    /* background-color: rgba(240, 144, 144, 0.587); */
    background-color: aliceblue;
    margin: 0;
}
#mainBan{
    background-image: url('img/main-banniere.png');
    height: 250px;
    position: relative;
    /* border: 5px solid lightblue; */
    /* border-radius: 15px; */
    background-repeat: no-repeat;
    background-size: cover ;
    margin-bottom: 0;
    margin-top: 0;
    
}
#starborn{
    font-family: "Neonclub";
    font-weight: 600;
}
h1{
    text-align: center;
    display:block;
    width: 40%;
    margin: auto;
    justify-content: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    background-color: rgba(240, 248, 255, 0.322);
    border: 10px solid rgba(255, 255, 255, 0.508);
    font-size: 4rem;
    letter-spacing: 0.78rem;
}
#cart{
    margin-top: 0;
    display: block;
    justify-content: center;
    margin-top:0.8vh;
    height:70%;
    width: auto;
    z-index: 99;
}
#menuIcon{
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    height: 8vh;
    width: 8vh;
    margin-left:0;
}
#menuLbl{
    display: none;
    height: 8vh;
    width:8vh;
}
#divCart{
    width: 8vh;
    height: 8vh;
    display: inline-block;
   margin-right: 0;
} 
#showMenu{
    display: none;
}
#showMenu:checked ~ ul{
    display: none;
}  
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    position:sticky;
    top:0;
    margin-top: 0;   
     background-color:black;
     z-index: 99;
    
}
nav::after{
    
    content: "";
    display: table;
    clear: both;}
/* nav>ul::after{
        content: "";
        display: table;

        clear: both;} */
        
nav>ul{
    width: 60%;
   height: 100%;
   padding:0;
    margin:0;
    display:inline-block;
    background-color: black; 
}
nav>ul>li{
    
    float: left;
    list-style: none; 
    width:auto;
    padding:25px;
    color:black;
    box-sizing: border-box;
   
}
nav>ul>li:hover,a:hover{
    background-color: white;
    color:black;
}
nav>ul>li>a{
    display:block;
     text-decoration: none;
     font-family: 'Pixelify Sans', cursive;
     text-align: center;
     color:#FFFFFF;     
     font-weight: 500;
     letter-spacing: 0.12rem;
     font-size: larger;
   
}
nav>ul>li:hover>a:hover{
    color:black;
}
.deudey{
    display: none;
    background-color: rgba(186, 114, 114, 0.381);
    list-style-type: none;
    text-align: center;
    padding-left:0;
    position: absolute;
    border:5px solid black;
    margin-top: 30px;
}
.deudey>li{
    background-color: grey;
    padding:5%; 
}
.deudey>li>a{
    text-decoration: none;
    width: 100%;
    font-size: 1rem;
}
.deudey:hover{
    border:5px solid black;
}
li:hover .deudey{
    display:block;
    width: 15%;
}
.deudey:hover>li:hover{
    background-color: rgba(255, 255, 224, 0.405);
    margin-left: 0;
}
h2{
    text-align: center;
    display:block;
        font-family: 'Foldit', cursive;
    font-size: 30px;
}
p{
    position: static;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400 ;
    font-style: oblique;
    line-height: 2rem;
    letter-spacing: 0.12rem;
    font-size: 1.1rem; 
    
    
    /* background: rgb(250,250,250); */
/* background: radial-gradient(circle, rgba(250,250,250,0.7) 0%, rgba(252,70,107,0) 100%); */
}
.centerText{
    display:block;
    text-align: center;
    margin: auto;
}
.rightText{
    text-align: right;
}
.pCenter{
    border-radius: 15px;
    clear:left;
    display: block;
    margin:auto;
    margin-top: 0px;
    padding:10px;
    height: auto;
    width: 40%;
    background-color: rgba(160, 225, 203, 0.2);

}
.fullScreenDiv{
    width: 90%;
    height: auto;
    display: flex;
    /* background-color: rgba(160, 225, 203, 0.2); */
    /* background-color: white; */
    margin:auto;
    margin-top: 40px;
    align-items: center;
    border-radius: 15px;

}
.inDivImage{
    padding: 15px;
    height: 100%;
    width: auto;
    display:block;
    float: left;
    box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   
   
}
.inDivText>p{
    margin-top: 4rem;
}
.inDivText{
    width: 60%;
    padding: 50px;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom:auto;
}
img{
    width: 100%;   

}
.unTiers{
    width: calc((100%-10px)/3);
    float:left;
    position: relative;
    box-sizing:border-box;
}
.unTiers>img{
    height: 300px;
    
    overflow: auto;
}
h5{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(240, 255, 255, 0.254);
    border:5px solid rgba(211, 211, 211, 0.5);
    font-size: 35px;
    margin:0;
    padding:10px;
}
.iconsize{
    width: auto;
    height: 50px;
    display: inline-block;
    margin:auto;
}
#bottomRightText{
    text-align:center;
}

#bottomRight>p{
    margin: 0;
}
#bottomBlock{
    clear:left;
    display:flex;
}
#bottomRight{
    margin-left:auto;
    margin-top: 0;
    margin-right:50px;
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: flex-start;
}
#bottomLeft{
    margin-left:50px;
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: flex-start;
}
footer{
    width: 100%;
}
h6{
    text-align: center;
    font-size:18px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 10px solid black;
    background-color: #000000;
    margin-bottom:0;
}
#couleur{
    height: 400px;    
}
 h4{
    font-family: 'Foldit', cursive;
    letter-spacing: 0.20rem;
    display:inline;
    border-radius: 15px;
    padding:10px;
    background-color: rgba(240, 255, 255, 0.254);
    border:5px solid rgba(211, 211, 211, 0.5);
    font-size: 35px;
    border:10px solid white;
 }
 #produitsDiv{
    display: block;
    padding:0%;
    margin:8%;
    margin-top:20px;
    margin-bottom:20px;
    box-sizing: content-box;
 }
 #produitsDiv::after{
    content: "";
    display: table;
    clear: both;
 }
 .imgProd{
    border-radius: 15px;
 }
h5{
    background-color: rgba(165, 42, 42, 0.5);
    color:whitesmoke;
}

#imgCenter{
    margin-left: 5px;
    margin-right: 5px;
    
}
.boutonLien{
    color:white;
    text-decoration: none;
}
.button-27 {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    will-change: transform;
  }
  
  .button-27:disabled {
    pointer-events: none;
  }
  
  .button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .labInfoPerso{
    display: inline-block;
    width: 10%;
  }
  .labCompXp{
    display: inline-block;
    width: 5%;
  }
  div{
    display: block;
    margin:auto;
    width: auto;
  }
  textarea{
    width: 100%
  }
  #contact{
    display: block;
    width:fit-content;
    margin:auto;
    background-image:url("img/wallpaper-contact.jpg");
    background-repeat: no-repeat;
  }
  .champs{
    display:block;
    width:100%;
    margin: auto;
    margin-top: 8px;
  }
  #contact{
    background-color: rgba(127, 255, 212, 0.14);
    padding:10px;
    margin-top:15px;
    font-family:'Quicksand' ;
  }
  #divMail{
    width: 98%;
   
    margin:0;
  }
  #mail{
    display: block;
    margin-top:10px;
    width: 100%;
  }
  #submitButton{
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    height: 50px;
    width: 20%;
    display: block;
    margin-left: auto;
    font-size: large;
    font-weight: 600;
    letter-spacing: 0.05;
    border-radius: 15px;
  }
  #submitButton:hover{
    background-color: white;
    color:black;
    transform:scale(1.2);
  }

  #pkTuContact{
    width: 100%;
  }
  #mainContactDiv{
    display: flex;
    justify-content: center;
  }
  #contactForm{
   display: block;
    width: 50%;
    height: 100%;

  }
  #googleEmbed{
    /* padding: 10%; */
    display: block;
    width: 50%;
  }
  #iframe{
    width: fit-content;
    height: fit-content;
  }
  .iconMargined{
    margin-left: 20px;
  }


 